.findtravelcont{
    width: 100%;
    
}

.h2red{
    display: flex;
    justify-content: center;
    color: red;
    width: 100%;
    margin-top: 70px;

}
.perfecttriph1{
    display: flex;
    justify-content: center;
    margin-top: 20px;


}
.soustitreh2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #8C849F;

}
.contsteps{
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-around;


}
.cardstep{
    width: 350px;
height: 282.68px;
background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(255, 255, 255, 0) 0.01%, rgba(65, 65, 165, 0.1) 100%);
border-radius: 45px;
padding: 22px 45px;
}
.findtravelcont img{
    width: 100px;
}
.titrecarte{
    color: #1A093F;
    font-size: 16px;
    line-height: 35px;



}
.cardstep p{
    color: #8C849F;
}