.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: "Sofiapro", sans-serif;
    margin-top: 150px;
    justify-content: center;


}
  
  .form-inline label {
    margin: 5px 10px 5px 0;
    
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 0;
    padding: 10px;
    height: 50px;
    background-color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    font-family: "Sofiapro", sans-serif;
    

}
  
  .form-inline button.booking-form--submit {
    padding: 10px 30px;
    background-color: #1A093F;
    color: white;
    font-family: "Sofiapro", sans-serif;
    height: 100px;
    padding: 0 40px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-bottom-right-radius: 35px;
    -moz-border-radius-topright: 35px;
    -moz-border-radius-bottomright: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
  
  .form-inline button:hover {
    background-color: #240d58;
  }
  
  @media (max-width: 1085px) {
    .form-inline input,
    .form-inline select,
    .form-inline button{
      margin: 10px 0;
      border-right: 0 !important;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  select.soflow,
  select.soflow-color {
    -webkit-appearance: button;
    background-color: white;
    font-family: "Sofiapro", sans-serif;
    color: #555;
    font-size: 16px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    overflow: hidden;
    text-align-last: center;
    padding: 5px 10px;
    white-space: nowrap;
    min-width: 120px;
    height: 100px;
    padding: 40px;
    appearance: none
  }
  .soflow:first-child{
    -webkit-border-top-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
    -moz-border-radius-topleft: 35px;
    -moz-border-radius-bottomleft: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;


  }
