.gallerie{
    display: flex;
    width: 1110px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.imagegal1{
    width: 540px;
    height: 497px;
    background: #8C849F;
    border-radius: 20px;
    background: url('../public/galimg1.png') no-repeat;

}
.quatreimages{
    width: 570px;
    display: flex;
    flex-wrap: wrap;
}
.imagegal2{
    width: 254px;
    height: 230px;
    background: #8C849F;
    border-radius: 20px;
    margin-left: 30px;

    
}
.imagegal3{
    width: 254px;
    height: 230px;
    background: #8C849F;
    border-radius: 20px;
    margin-left: 30px;




}
    

.imagegal4{
    width: 254px;
    height: 230px;
    background: #8C849F;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;



    
}
.imagegal5{
    width: 254px;
    height: 230px;
    background: #8C849F;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;

    
}